<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recoginzer</title>
</head>
<body>

    <h3>Real Time Face Recognitiom</h3>
    <video id="webcam" width="640" height="480"></video>
    <canvas id="canvas" width="640" height="480"></canvas>
    

    <script>
        document.addEventListener('DOMContentLoaded', function()
        {
            const webcam = document.getElementById('webcam');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2D');
            
            function startWebcam(){
                //Reqest permisson to access the camera
                navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    webcam.srcObject = stream;

                    webcam.onloadedmetadata = function(){
                        canvas.width = webcam.videoWidth;
                        canvas.height = webcam.videoHeight;
                    }
                    setInterval(() => {
                        // Draw current frame of a webcam 
                        canvas.drawImage(webcam, 0, 0, canvas.width, canvas.height);

                        // Convert a frame into base64 Jpeg
                        const imageData = canvas.toDataURL('image/jpeg');
                        //console.log(imageData);
                        //sendImageToBackend(imageData);
                    },1000);
                })
                .catch((error) => {
                    console.error('Error accessing camera:', error);
                });

                //wait for metadata to be loaded
                //webcam.addEventListener('loadedmetadata',function(){
                    //dynamic video dimengions for canvas
                    //canvas.width = webcam.videoWidth;
                    //canvas.height = webcam.videoHeight;

                    // Every task in this will be done at regular intervals
                    
                //});
            }

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
                startWebcam();
            }else {
                console.error('getUsermedia is not supported in this browser');
            }

            //The logic of sending data to Django Backend is here
            function sendImageToBackend(imageData) {
                fetch('/Auth/face_recoginze',{
                    headers:{
                        'Content-type':'application/x-www-form-urlencoded',
                    },
                    body: `imageData=${encodeURIComponent(imageData)}`,
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error =>{
                    console.error('Error:',error);
                });
            }

        });
    </script>
</body>
</html>