# SecureFace — Biometric Access Control System
# Core
Django==5.0.1
asgiref==3.7.2
sqlparse==0.4.4

# Face Recognition
dlib==19.24.2
face-recognition==1.3.0
face_recognition_models==0.3.0
numpy==1.26.3
opencv-python==4.9.0.80
pillow==10.2.0

# Utilities
python-dotenv==1.0.0
pybase64==1.3.2
setuptools<70

# Database (dev)
# Using SQLite — no additional packages needed
