<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 20px;
        }



        #webcam-container {
            border: 2px solid #333;
            border-radius: 5px;
            overflow: hidden;
            width: 320px;
            height: 240px;
            margin: 0 auto 20px;
        }

        #webcam {
            width: 100%;
            height: 100%;
        }

        #canvas, #response-image {
            display: none;
            margin: 10px auto;
            border: 2px solid #333;
            border-radius: 5px;
        }

        #name {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- Simple video view to show webcam video -->
    <h3 style="color: #333">Real Time Face Detection</h3>
    <div id="webcam-container">
        <video id="webcam" autoplay ></video>
    </div>
    <canvas id="canvas" height="240" width="320" ></canvas> 
    <button id="capture" onclick="captureImage()" class="btn btn-success">Capture</button>

    <!-- Response image from backend -->
    <p id="name"></p>
    <img id="response-image" width="320" height="240" alt="Reponse image" >

    <form method="POST" id="csrf-form">
        {% csrf_token %}
    </form>    
    <script>
        const webcam = document.getElementById('webcam')
        const canvas = document.getElementById('canvas')
        const capture = document.getElementById('capture')
        const context = canvas.getContext('2d')
        const name = document.getElementById('name')
        const response_img = document.getElementById('response-image');
        let isPaused = false

        // Request permission to access the camera
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    webcam.srcObject = stream;
                    // Every task in this will be done at regular intervals 
                })
                .catch((error) => {
                    console.error('Error accessing camera:', error);
                });
        } else {
            console.error('getUserMedia is not supported in this browser');
        }

        function captureImage(){
            if (webcam && webcam.srcObject){
                    // Draw current frame of a webcam 
                    //console.log('webcam size:', webcam.videoWidth, webcam.videoHeight);
                    context.drawImage(webcam, 0, 0, canvas.width, canvas.height);
                    name.textContent = "";
                    response_img.style= 'display:none;'; //
                    capture.disabled = true; //Disable the Capture button 
                    // Convert a frame into base64 Jpeg
                    const imageData = canvas.toDataURL('image/jpeg');
                    console.log(imageData);
                    sendImageToBackend(imageData);
            }else{
                console.log('Cannot get the webcam obeject');
            }
        }


        // The logic of sending image to Django backend is here
        function sendImageToBackend(imageData){
            //console.log('sendiamage:',imageData);
            //get the image of current frame and POST it to the backend view
            fetch('/Auth/face_recognize/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                body: `imageData=${encodeURIComponent(imageData)}`,
            })
            .then(response => response.json())  // Get the Json response 
            .then(data => {
                console.log(data.name);
                capture.disabled = false; //Enable the capture button
                if(data.name=="Unknown!!") //Change the color of text as per output
                    {name.style = 'color:red;';}
                else
                    {name.style = 'color: #4CAF50;';}
                name.textContent = data.name;
                response_img.style= 'display:block;'; //Show the reponse image 
                response_img.src = `data:image/jpeg;base64, ${data.image}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    

</body>
</html>


<!-- 
    Set insterval logic for image capturing
    setInterval(() => {
                            // console.log('Webcam:',webcam) //this is used to show what data is in webcam element
                            if (webcam && webcam.srcObject) {
                                webcam.addEventListener('loadeddata', function() {
                                    // Draw current frame of a webcam 
                                    context.drawImage(webcam, 0, 0, canvas.width, canvas.height);
                                    
                                });
                                // Convert a frame into base64 Jpeg
                                const imageData = canvas.toDataURL('image/jpeg');
                                console.log(imageData);
                                sendImageToBackend(imageData);
                                                                
                            } else{
                                console.log('Can not get the webcam object');
                            }
                        }, 30000); 
                    
-->