<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognizer</title>
</head>
<body>
    
    <div class="container">
        <video height="200" width="200" id="webcam" autoplay></video>
        <button onclick="captureImage()" id="capture">Capture</button><br>
        <canvas id="canvas" style="overflow: auto;"></canvas>

    </div>

</body>

    <script>
        let webcam = document.querySelector('#webcam')
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) =>{
                webcam.srcObject = stream
                console.log(webcam.srcObject);
            })
        }

        function captureImage(){
            let canvas = document.getElementById('canvas');
            let webcam = document.getElementById('webcam');

            canvas.width = 200;
            canvas.height = 200;
            canvas.getContext('2d').drawImage(webcam, 0, 0, 200, 200)
        }
    </script>

</html>